$shadow-color: hsla(0, 0%, 0%, 0.05);

$text-color: hsla(36, 21%, 27%, 1);
$title-color: hsla(36, 21%, 15%, 1);
$text-active-color: hsla(0, 0%, 100%, 1);

$white: hsla(0, 100%, 100%, 1);
$orange: hsla(36, 100%, 50%, 1);
$light-blue: hsla(211, 44%, 82%, 1);
$dark-blue: hsla(207, 58%, 21%, 1);
$peach: hsla(14, 100%, 64%, 1);


$desktop-width: 1197px;