$white: hsla(0, 100%, 100%, 1);
$orange: hsla(36, 100%, 50%, 1);
$peach: hsla(14, 100%, 64%, 1);
$peach-cream: hsla(26, 100%, 94%, 1);
$yellow: hsla(42, 96%, 50%, 1);
$red: hsla(0, 86%, 59%, 1);
$blue: hsla(206, 91%, 64%, 1);
$light-blue: hsla(211, 44%, 82%, 1);
$dark-blue: hsla(207, 58%, 21%, 1);
$light-gray: hsla(0, 0%, 84%, 1);
$wild-sand: hsla(0, 0%, 96%, 1);
$silver: hsla(0, 0%, 77%, 1);
$judge-gray: hsla(36, 21%, 27%, 1);
$fuchsia-blue: hsla(261, 45%, 53%, 1);
$zeus: hsla(36, 21%, 15%, 1);
$black-clear: hsla(0, 0%, 0%, 0.05);

$ico-violet: $fuchsia-blue;
$ico-yellow: $yellow;
$ico-red: $red;
$ico-blue: $blue;

$shadow-color: $black-clear;

$text-color: $judge-gray;
$title-color: $zeus;
$text-active-color: $white;

$tag-colored: $wild-sand;

$desktop-width: 1440px;
$desktop-small: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-s: 320px;