.button {
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 2.2rem, $weight: 600);
  padding: 11px 25px 13px;
  border-radius: 4px;
  box-sizing: border-box;

  &_light {
    border: 1px solid $light-blue;
    background-color: $white;
    color: $dark-blue;

    &:hover {
      border: 1px solid $light-blue;
      background-color: $light-blue;
    }
  }

  &_orange {
    background-color: $orange;
    border: 1px solid $orange;
    color: $white;
  }
}