.tools {
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(/src/assets/img/svg/tools-bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;

  &__title {
    max-width: 462px;
    text-align: center;
    margin: 0;
  }

  &__list {
    margin: 70px 0 0;
    padding: 0;
    list-style: none;
    gap: 61px;
    @include media-laptop-s {
      gap: 0;
      justify-content: space-between;
    }
    @include media-tablet {
      gap: 3%;
      >.tools__item {
        flex-basis: 44%;
  
      }
      
    }
  }

  &__item {
    margin-bottom: 5px;
    @include media-tablet {
      text-align: center;
    }

    &_title {
      margin: 23px 0 17px;
    }
  }

  &__button-wrapper {
    margin-top: 38px;
    margin-left: 15px;
  }
}